<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.help.back.backend.dao.FavoriteDao">

    <select id="getFavoritesByToId" parameterType="int" resultType="com.help.back.backend.domain.User">
        SELECT * FROM users u WHERE  u.user_id in(SELECT f.from_user_id FROM favorite f WHERE f.to_user_id = #{value} )
    </select>
    <insert id="postFavorite" parameterType="com.help.back.backend.domain.Favorite">
        INSERT INTO favorite(to_user_id,from_user_id) VALUES(#{toUserId},#{fromUserId})
    </insert>
    <delete id="deleteFavorite" parameterType="com.help.back.backend.domain.Favorite">
        DELETE FROM favorite WHERE to_user_id = #{toUserId} AND from_user_id = #{fromUserId}
    </delete>
</mapper>