<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.help.back.backend.dao.GroupDao">
    <!-- group crud   -->
    <insert id="postGroup" parameterType="group" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO
        groups(name) Values(#{name})
    </insert>

    <delete id="deleteGroup" parameterType="int">
        DELETE FROM groups WHERE id = #{value}
    </delete>

    <update id="updateGroup" parameterType="group">
        UPDATE groups SET name = #{name}
        WHERE id = #{id}
    </update>

    <select id="getGroup" parameterType="int" resultType="group">
        SELECT id, name FROM groups WHERE id = #{value}
    </select>


    <!-- groupuser crud   -->
    <insert id="postGroupUser" parameterType="groupUser" useGeneratedKeys="true" keyProperty="ugId" >
        INSERT INTO
        user_group(user_id, group_id, is_host) Values(#{userId}, #{groupId}, #{isHost})
    </insert>

    <delete id="deleteGroupUser" parameterType="hashMap">
        DELETE FROM user_group WHERE user_id = #{user_id} AND group_id = #{group_id}
    </delete>

    <update id="updateGroupUser" parameterType="groupUser">
        UPDATE user_group SET is_host = #{isHost} WHERE ug_id = #{ugId}
    </update>

    <select id="getGroupUser" parameterType="int" resultType="groupUser">
        SELECT ug_id, user_id, group_id, is_host
        FROM user_group
        WHERE group_id = #{value}
    </select>

</mapper>